{% extends 'base.html' %}

{% block title %}
  Главная
{% endblock %}

{% block content_title %}
  Домашняя страница
{% endblock %}

{% block content_body %}
  <div class="row justify-content-center">
    <div class="col-auto mb-4">
      <h1>Привет, {{ n }}!</h1>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero, similique modi quia placeat illo
        cum quis tenetur inventore? Expedita molestiae alias ea possimus maiores ratione tenetur quae voluptatum minus!
      </p>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero, similique modi quia placeat illo
        cum quis tenetur inventore? Expedita molestiae alias ea possimus maiores ratione tenetur quae voluptatum minus!
      </p>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero, similique modi quia placeat illo
        cum quis tenetur inventore? Expedita molestiae alias ea possimus maiores ratione tenetur quae voluptatum minus!
      </p>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero, similique modi quia placeat illo
        cum quis tenetur inventore? Expedita molestiae alias ea possimus maiores ratione tenetur quae voluptatum minus!
      </p>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero, similique modi quia placeat illo
        cum quis tenetur inventore? Expedita molestiae alias ea possimus maiores ratione tenetur quae voluptatum minus!
      </p>
    </div>
  </div>
{% endblock %}